:root{
    --blanco: #ffffff;
    --negro: #212121;
    --primario: #f08d42;
    --secundario: #F05A41 ;
    --terciario: #417FF0;
    --cuaternario: #41DCF0 ;
    --quintario: #082130;
    --calificacion: #ffcc00;
  
    --fuentePrincipal: 3.8rem;
  }
  
  
  .calificacion-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secundario);
    color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
    max-width: 13rem;
    max-height: 20rem;
    margin: 20px;
  }
  
  .calificacion-card:hover {
    transform: translateY(-5px);
  }
  
  .calificacion-card img {
    width: 60%;
    height: 10em;
  }
  
  .calificacion-card-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .calificacion-card-title{
    font-size: medium;
    font-weight: bold;
    color: var(--quintario);
    margin-bottom: 5px;
  }
  
  
  .calificacion-card-usuario{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.9em;
    color: var(--blanco);
    margin-bottom: 15px;
  }
  
  .calificacion-card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9em;
    font-weight: bold;
    color: var(--calificacion);
  }
  
  .calificacion-card-calificacion {
    display: flex;
    flex-direction: row;
    background-color: var(--primario);
    border-radius: 5px;
    color: var(--calificacion);
    font-weight: bold;
  }
  
  

  
  .calificacion-card-actual {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--terciario);
    color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
    max-width: 13rem;
    max-height: 20rem;
    margin: 20px;
  }
  
  .calificacion-card-actual:hover {
    transform: translateY(-5px);
  }
  
  .calificacion-card-actual img {
    width: 60%;
    height: 10em;
 
  }
  
  .calificacion-card--actual-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .calificacion-card-actual-title{
    font-size: medium;
    font-weight: bold;
    color: var(--quintario);
    margin-bottom: 5px;
  }
  
  
  .calificacion-card-actual-usuario{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.9em;
    color: var(--blanco);
    margin-bottom: 15px;
  }
  
  .calificacion-card-actual-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9em;
    font-weight: bold;
    color: var(--calificacion);
  }
  
  .calificacion-card-actual-calificacion {
    display: flex;
    flex-direction: row;
    background-color: var(--primario);
    border-radius: 5px;
    color: var(--calificacion);
    font-weight: bold;
  }